{% extends "base.html.twig" %}

{% block content %}
    <div style="text-align:center"> 
        <h1 class="display-4"> Amazoom, de A à M</h1>
    </div>

    <div class="prod_vedette mt-4">
        <h2>Nos produits vedettes </h2>
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </div>

{% endblock %}
