{% extends "base.html.twig" %}

{% block content %}
    <h1 style="text-align: center">Payer</h1>

    {{ include('panier/_form.html.twig') }}

    <a href="{{ path('objet_index') }}" class="btn btn-secondary">Retour</a>

{% endblock %}
