{% extends 'base.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block content %}
    <h1 style="text-align: center">Créer une nouvelle catégorie</h1>

    {{ include('categories/_form.html.twig') }}

    <a href="{{ path('categories_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
