{% extends "base.html.twig" %}

{% block content %}
    <h1 style="text-align : center">Editer un objet</h1><br>
    
    {{ include('objet/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('objet_index') }}" class="btn btn-secondary" class="btn btn-secondary">Retour</a>
    {{ include('objet/_delete_form.html.twig') }}
    
{% endblock %}
