{% extends "base.html.twig" %}

{% block title %}New Object{% endblock %}

{% block content %}
    <h1 style="text-align: center">Créer un nouvel objet</h1>

    {% embed "decorator/_form.html.twig" %}
    {% endembed %}

    <a href="{{ path('objet_index') }}" class="btn btn-secondary">Retour</a>

   
{% endblock %}
